@import "tailwindcss";
@plugin "@tailwindcss/forms";
@plugin "@tailwindcss/typography";

@keyframes breakingNews {

    0% {
        transform: translateX(100%);
    }

    100% {
        transform: translateX(-100%);
    }

}

.breaking-track{

    display:flex;

    width:max-content;

    animation:breakingNews 35s linear infinite;

}

.breaking-track:hover{

    animation-play-state:paused;

}

.heroSwiper .swiper-slide img{
    transition: transform .8s ease;
}

.heroSwiper .swiper-slide-active img{
    transform: scale(1.05);
}

.heroSwiper .swiper-pagination-bullet{
    width:12px;
    height:12px;
    background:white;
    opacity:.5;
}

.heroSwiper .swiper-pagination-bullet-active{
    opacity:1;
    width:30px;
    border-radius:20px;
}

.heroSwiper .swiper-button-next,
.heroSwiper .swiper-button-prev{

    width:30px;
    height:30px;
    color:white;

}

.heroSwiper .swiper-button-next::after,
.heroSwiper .swiper-button-prev::after{

    font-size:20px;

}
